# Scrap all Airbnb listings of Beirut, Barcelona, Dubai, Amsterdam, Ayia Napa, and Dubrovnik.

### Beirut - Lebanon

In [89]:
beirut_listing = pd.DataFrame()
mini=0
for i in range(40):
    !scrapy crawl bnb -a query="Beirut, Lebanon" -a checkin=2020-7-01 -a checkout=2020-7-31 \
    -a max_price={mini+200} -a min_price={mini} -s WEB_BROWSER="/usr/bin/chromium" -o beirut_{i}.xlsx
    ## increment price range by 200 dollars
    mini=mini+200
    
    # get size of each file 
    file_beirut = 'beirut_'+str(i)+'.xlsx'
    size_beirut = os.path.getsize(file_beirut)
    # if file scraped is not empty then append to dataframe
    if size_beirut != 0:
        beirut_listing = beirut_listing.append(pd.read_excel(file_beirut))
    
# do the same procedure but scrape monthly prices that exceeds 8000 US dollars monthly
!scrapy crawl bnb -a query="Beirut, Lebanon" -a checkin=2020-7-01 -a checkout=2020-7-31 \
-a max_price=100000 -a min_price=8000 -s WEB_BROWSER="/usr/bin/chromium" -o beirut_40.xlsx
file_beirut = 'beirut_'+str(i)+'.xlsx'
size_beirut = os.path.getsize(file_beirut)
# if file scraped is not empty then append to dataframe
if size_beirut != 0:
    beirut_listing = beirut_listing.append(pd.read_excel(file_beirut))

##= Finally export scrapped dataframe to csv file for referrencing 
beirut_listing.to_csv('beirut_listing_july_2020.csv')

,url,price_rate,price_rate_type,total_price,room_and_property_type,min_nights,max_nights,latitude,longitude,monthly_price_factor,weekly_price_factor,room_type,person_capacity
0,https://www.airbnb.com/rooms/37616836,252,monthly,290,Entire apartment,1,NaN,33.88015,35.53582,0.40,0.50,entire_home,3
1,https://www.airbnb.com/rooms/19986075,270,monthly,299,Entire apartment,1,NaN,33.87276,35.52713,0.45,0.80,entire_home,2
2,https://www.airbnb.com/rooms/31254826,285,monthly,322,Entire loft,3,NaN,33.88720,35.51854,0.95,0.00,entire_home,1
3,https://www.airbnb.com/rooms/31108769,300,monthly,338,Entire apartment,3,NaN,33.88610,35.51915,0.00,0.00,entire_home,1
4,https://www.airbnb.com/rooms/41792766,300,monthly,338,Entire apartment,5,NaN,33.88393,35.52234,0.00,0.00,entire_home,1
5,https://www.airbnb.com/rooms/42937034,328,monthly,363,Entire apartment,4,NaN,33.88502,35.52051,0.86,1.00,entire_home,2
6,https://www.airbnb.com/rooms/37846972,348,monthly,385,Entire chalet,30,NaN,33.88937,35.56341,0.58,1.00,entire_home,2
7,https://www.airbnb.com/rooms/42844564,351,monthly,388,Entire apartment,1,NaN,33.89630,35.47625,0.65,0.85,entire_home,2
8,https://www.airbnb.com/rooms/42844675,353,monthly,391,Entire apartment,1,NaN,33.89616,35.47512,0.62,0.86,entire_home,2
9,https://www.airbnb.com/rooms/41127018,360,monthly,398,Entire apartment,30,NaN,33.79200,35.49700,0.00,0.00,entire_home,4

### Ayia Napa - Cyprus

In [ ]:
mini=0
for i in range(40):
    !scrapy crawl bnb -a query="Ayia Napa, Cyprus" -a checkin=2020-7-01 -a checkout=2020-7-31 -a max_price={mini+200} -a min_price={mini} -s WEB_BROWSER="/usr/bin/chromium" -o cyprus_{i}.xlsx
    mini=mini+200
    print('cyprus'+str(i)+' finished scrapping')
    
!scrapy crawl bnb -a query="Ayia Napa, Cyprus" -a checkin=2020-7-01 -a checkout=2020-7-31 -a max_price=100000 -a min_price=8000 -s WEB_BROWSER="/usr/bin/chromium" -o cyprus_40.xlsx

### Amsterdam - Netherlands

In [ ]:
mini=0
for i in range(40):
    !scrapy crawl bnb -a query="Amsterdam, Netherlands" -a checkin=2020-7-01 -a checkout=2020-7-31 -a max_price={mini+200} -a min_price={mini} -s WEB_BROWSER="/usr/bin/chromium" -o amsterdam_{i}.xlsx
    mini=mini+200
    print('amsterdam_'+str(i)+' finished scrapping')
    
!scrapy crawl bnb -a query="Amsterdam, Netherlands" -a checkin=2020-7-01 -a checkout=2020-7-31 -a max_price=100000 -a min_price=8000 -s WEB_BROWSER="/usr/bin/chromium" -o amsterdam_40.xlsx

### Dubrovnik - Croatia

In [ ]:
mini=0
for i in range(40):
    !scrapy crawl bnb -a query="Dubrovnik, Croatia" -a checkin=2020-7-01 -a checkout=2020-7-31 -a max_price={mini+200} -a min_price={mini} -s WEB_BROWSER="/usr/bin/chromium" -o dubrovnik_{i}.xlsx
    mini=mini+200
    print('dubrovnik_'+str(i)+' finished scrapping')
    
!scrapy crawl bnb -a query="Dubrovnik, Croatia" -a checkin=2020-7-01 -a checkout=2020-7-31 -a max_price=100000 -a min_price=8000 -s WEB_BROWSER="/usr/bin/chromium" -o dubrovnik_40.xlsx

### Barcelona - Spain

In [ ]:
mini=0
for i in range(40):
    !scrapy crawl bnb -a query="Barcelona, Spain" -a checkin=2020-7-01 -a checkout=2020-7-31 -a max_price={mini+200} -a min_price={mini} -s WEB_BROWSER="/usr/bin/chromium" -o barcelona_{i}.xlsx
    mini=mini+200
    print('barcelona_'+str(i)+' finished scrapping')
    
!scrapy crawl bnb -a query="Barcelona, Spain" -a checkin=2020-7-01 -a checkout=2020-7-31 -a max_price=100000 -a min_price=8000 -s WEB_BROWSER="/usr/bin/chromium" -o barcelona_40.xlsx

### Dubai - United Arab Emirates

In [ ]:
mini=0
for i in range(40):
    !scrapy crawl bnb -a query="Dubai, United Arab Emirates" -a checkin=2020-7-01 -a checkout=2020-7-31 -a max_price={mini+200} -a min_price={mini} -s WEB_BROWSER="/usr/bin/chromium" -o dubai_{i}.xlsx
    mini=mini+200
    print('dubai_'+str(i)+' finished scrapping')
    
!scrapy crawl bnb -a query="Dubai, United Arab Emirates" -a checkin=2020-7-01 -a checkout=2020-7-31 -a max_price=100000 -a min_price=8000 -s WEB_BROWSER="/usr/bin/chromium" -o dubai_40.xlsx

## Combine all scrapped airbnb data in each city into 1 dataframe and export to csv file

In [3]:
import os
import pandas as pd

create dataframes of airbnb listing for each city
beirut_listing = pd.DataFrame()
barcelona_listing = pd.DataFrame()
dubrovnik_listing = pd.DataFrame()
amsterdam_listing = pd.DataFrame()
dubai_listing = pd.DataFrame()
cyprus_listing = pd.DataFrame()
lisbon_listing = pd.DataFrame()

# loop into the 40 scrapped listing files for each city and append them to their corresponding city dataframe 
for i in range(41): #40 excel files scraped
    file_beirut = 'beirut_'+str(i)+'.xlsx'
    file_barcelona = 'barcelona_'+str(i)+'.xlsx'
    file_dubrovnik = 'dubrovnik_'+str(i)+'.xlsx'
    file_amsterdam = 'amsterdam_'+str(i)+'.xlsx'
    file_dubai= 'dubai_'+str(i)+'.xlsx'
    file_cyprus = 'cyprus_'+str(i)+'.xlsx'
    file_lisbon = 'lisbon_'+str(i)+'.xlsx'

    # get size of each file 
    size_beirut = os.path.getsize(file_beirut)
    size_barcelona = os.path.getsize(file_barcelona)
    size_dubrovnik = os.path.getsize(file_dubrovnik)
    size_amsterdam = os.path.getsize(file_amsterdam)
    size_dubai = os.path.getsize(file_dubai)
    size_cyprus = os.path.getsize(file_cyprus)
    size_lisbon = os.path.getsize(file_lisbon)
    
    #check if file has no entry then append to dataframe
    if size_beirut != 0:
        beirut_listing = beirut_listing.append(pd.read_excel(file_beirut))
    if size_barcelona != 0:
        barcelona_listing = barcelona_listing.append(pd.read_excel(file_barcelona))
    if size_dubrovnik != 0:
        dubrovnik_listing = dubrovnik_listing.append(pd.read_excel(file_dubrovnik))
    if size_amsterdam != 0:
        amsterdam_listing = amsterdam_listing.append(pd.read_excel(file_amsterdam))
    if size_dubai != 0:
        dubai_listing = dubai_listing.append(pd.read_excel(file_dubai))
    if size_cyprus != 0:
        cyprus_listing = cyprus_listing.append(pd.read_excel(file_cyprus))
    if size_lisbon != 0:
        lisbon_listing = lisbon_listing.append(pd.read_excel(file_lisbon))
     
    
beirut_listing.to_csv('beirut_listing_july_2020.csv')
barcelona_listing.to_csv('barcelona_listing_july_2020.csv')
dubrovnik_listing.to_csv('dubrovnik_listing_july_2020.csv')
amsterdam_listing.to_csv('amsterdam_listing_july_2020.csv')
dubai_listing.to_csv('duabi_listing_july_2020.csv')
cyprus_listing.to_csv('cyprus_listing_july_2020.csv')
lisbon_listing.to_csv('lisbon_listing_july_2020.csv')